.task-manager {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100vh;
}

.task-manager h2 {
  text-align: center;
}

.input-task {
  display: flex;
  gap: 10px;
  width: 100vh;
  padding-left: 20px;
}
.input-task .add{
      width: 100vh;
}

.input-task input {
  border: 1px solid #dadada;
  border-radius: 8px;
  width: 100vh;
  padding: 10px;
}
.input-task button {
  width: calc(100% - 90% - 20px);
  padding: 10px;
  background-color: #54b4d3;
  color: #fff;
}
.target{
    padding-left: 10px;
}

.nav-bar {
  display: flex;
  gap: 10px;
}
.nav-bar div {
  padding: 20px;
}
.nav-bar div:hover {
  color: #1e5589;
  border-bottom: 2px solid #1e5589;
}
.task-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  width: 100%;
}

.task-list .task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f6f7;
  padding: 10px;

}
.task-list .task .task-detail {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 15px;
}

.task-list .task .task-detail .checkbox {
  width: 20px;
  height: 20px;
}

.task-list .task .action {
  display: flex;
  gap: 10px;
}