* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Bai1 {

  border: 1px solid #dadada;
  width: fit-content;
  background-color: #f9f9f9;
  border-radius: 8px;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 10px;
}

.Bai1 input {

  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #dadada;
}

.Bai1 .notice {
  color: red;
  border: 1px solid red;
  background-color: rgb(255, 221, 221);
  padding: 8px;
  font-size: 15px;
  border-radius: 8px;
  margin-top: 10px;
}
